:root {
  --phone-height: 100ch;
  --hw-edge-shine: 0 -1px 1px hsl(0, 0%, 10%) inset;
  --color-hw-900: hsl(0, 0%, 2%, 1);
  --color-hw-800: hsl(0, 0%, 5%, 1);
  --color-phone-top-bar: hsl(164, 34%, 20%);
}
* {
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0, 10%);
  color: hsl(0, 0%, 90%);
  display: grid;
  align-items: center;
  justify-items: center;
  margin: 0;
  min-height: 100vh;
}
.phone-container {
  user-select: none;

  display: grid;
  grid-template-rows: 0.6em auto 2em;
  justify-items: center;

  margin: 2ch;

  font-size: 28px;

  background-color: var(--color-hw-800);
  border-radius: 1ch;

  height: 46ch;
  width: 25ch;

  padding: 0.6ch;

  box-shadow: 0 0.7em 0em hsla(0, 0%, 2%, 1), 0 0.5em 1em hsla(0, 0%, 0%, 0.5),
    0 0.6em 0.2em hsla(0, 0%, 0%, 0.8), 0 -1px 1px hsl(0, 0%, 10%) inset;

  .speaker {
    background-color: var(--color-hw-900);
    margin: 0 0 6px;
    width: 40%;
    display: block;
    border-radius: 9999px;

    box-shadow: var(--hw-edge-shine);
  }
  .generic-btn {
    background-color: var(--color-hw-900);
    margin: 0.6ch;
    border-radius: 9999px;
    width: 50px;

    box-shadow: var(--hw-edge-shine);

    &:hover,
    &:focus {
      background-color: hsl(0, 0%, 4%);
      cursor: pointer;

      box-shadow: inset 0 0.2em 0.4em black, 0 0.1em 0.8em rgba(0, 0, 0, 0.5);
    }
  }
}
.screen {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 16px;

  // display: grid;
  // grid-template-columns: min-content min;

  background-color: var(--color-hw-900);
  width: 100%;

  border-radius: 0.2ch;

  display: grid;
  grid-template-rows: min-content auto;

  box-shadow: 0 0 1px hsl(0, 0%, 10%);
}

.menu-bar {
  display: grid;
  grid-template-columns: auto auto;

  padding: 0 0.5ch;

  border-radius: 0.2ch 0.2ch 0 0;

  background-color: var(--color-phone-top-bar);
  .bar-right {
    justify-self: end;
    // margin-right: 0.6ch;

    font-weight: 700;
  }
  .top-bar {
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0 0.2ch;
  }
  img {
    max-height: 1.8ch;
    filter: invert(1);
    margin-bottom: -0.2ch;
  }
}
.screen-content {
  // margin: 0.3ch; // this is the wrong place for tis
  height: 52ch;
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  &::-webkit-scrollbar {
    width: 6px; /* width of the entire scrollbar */
    height: 6px;
  }
  &::-webkit-scrollbar-track {
    background: var(--color-hw-900); /* color of the tracking area */
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--color-hw-900); /* color of the scroll thumb */
    border-radius: 20px; /* roundness of the scroll thumb */
    border: 3px solid var(--color-phone-top-bar); /* creates padding around scroll thumb */
  }
  &::-webkit-scrollbar-corner {
    background-color: var(--color-hw-900);
  }

  p {
    margin: 0;
  }
  .pc-name {
    font-weight: 600;
    display: inline;
    font-size: 1.2em;

    &::after {
      content: ', ';
    }
  }
  .pc-age {
    display: inline-block;
    width: 55%;
  }
  .pc-stat {
    background-color: rgb(7, 34, 37);
    color: rgb(255, 229, 219);
    // width: 2.5ch;
    padding-right: 0.2ch;
    border-radius: 0.4ch;
    text-align: center;
    font-weight: 900;
    display: inline-block;
    margin-bottom: 0.4ch;

    font-family: consolas, monospace;
    font-size: 1.4em;
  }
  .pc-combat::before {
    content: 'COM ';
    font-weight: 500;

    background-color: rgb(43, 43, 43);
    border-radius: 0.4ch;
    margin-right: 0.2ch;
    padding: 0 0.2ch;
    z-index: -1;
    display: inline-block;
  }
  .pc-dex::before {
    content: 'DEX ';
    font-weight: 500;

    background-color: rgb(43, 43, 43);
    border-radius: 0.4ch;
    margin-right: 0.2ch;
    padding: 0 0.2ch;
    z-index: -1;
    display: inline-block;
  }
  .pc-int::before {
    content: 'INT ';
    font-weight: 500;

    background-color: rgb(43, 43, 43);
    border-radius: 0.4ch;
    margin-right: 0.2ch;
    padding: 0 0.2ch;
    z-index: -1;
    display: inline-block;
  }
  .pc-luck::before {
    content: 'LCK ';
    font-weight: 500;

    background-color: rgb(43, 43, 43);
    border-radius: 0.4ch;
    margin-right: 0.2ch;
    padding: 0 0.2ch;
    z-index: -1;
    display: inline-block;
  }
  .pc-sta::before {
    content: 'STM ';
    font-weight: 500;

    background-color: rgb(43, 43, 43);
    border-radius: 0.4ch;
    margin-right: 0.2ch;
    padding: 0 0.2ch;
    z-index: -1;
    display: inline-block;
  }
  .pc-str::before {
    content: 'STR ';
    font-weight: 500;

    background-color: rgb(43, 43, 43);
    border-radius: 0.4ch;
    margin-right: 0.2ch;
    padding: 0 0.2ch;
    z-index: -1;
    display: inline-block;
  }
  .pc-trait {
    font-family: consolas, monospace;
    font-size: 1.2em;
    background-color: rgb(106, 161, 143);
    display: inline-block;
    color: black;
    padding: 0.2ch 0.5ch;
    border-radius: 0.4ch;
    font-weight: 600;
  }
  .pc-desc {
    margin-top: 1ch;
  }
}

.playlist {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 100%, 0.05);


  .playing {
    background-color: rgba(255, 255, 255, 0.11);
  }
  li {
    list-style: none;
    padding: 0 .5em .5em;
    box-shadow: 0 5px 15px inset hsla(0, 0%, 100%, 0.10), 0 2px 5px inset hsla(0, 0%, 0%, 0.25);
    position: relative;
  }
  li + li {
    // border-top: 1px solid;
    padding-top: .5em;
  }
  .artist {
    // color: rgb(209, 130, 130);
    margin-top: -.50em;
    display: block;
    font-size: .8em;
    color: hsla(0, 0%, 100%, 0.50);
  }
  .title {
    // color: rgb(126, 199, 126);
    display: block;
  }
  .btn-play {
    font-style: normal;
    font-size: 1.6em;
    position: absolute;
    top: 14%;
    right: 1ch;
  }

}